<mat-card>
<mat-card-title>{{ currentUser.fio }}</mat-card-title>
<mat-card-subtitle>1 000 000 $</mat-card-subtitle>
<mat-card-actions>
  <mat-form-field appearance="fill">
    <mat-label>Выбор профиля</mat-label>
    <mat-select [value]="currentUser.id">
      <mat-option *ngFor="let user of users" [value]="user.id" (click)="changeUser(user)" >
        {{ user.id }}. {{ user.fio }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Аккаунт</mat-label>
    <mat-select [value]="currentUser.currentAccountId">
      <mat-option *ngFor="let account of currentUser.accounts" [value]="account.brokerAccountId" (click)="changeAccountId(account)">
        {{ account.brokerAccountType }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card-actions>
</mat-card>
