<div>Всего акций: {{ stocksCount }}</div>
<div>
  <mat-icon (click)="syncTickers()" class="sync">sync</mat-icon>
</div>

<table mat-table [dataSource]="tickers" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="id" sortActionDescription="Sort by id">ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disabled sortActionDescription="Sort by type">Type</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="tool-type" aria-hidden="false" aria-label="trading up icon">{{ getTypeIcon(element.type) }}</mat-icon>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Ticker Column -->
  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ticker">Ticker</th>
    <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
  </ng-container>

  <!-- Currency Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ticker">Currency</th>
    <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
  </ng-container>

  <!-- Lot Column -->
  <ng-container matColumnDef="lot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lot">Lot</th>
    <td mat-cell *matCellDef="let element"> {{element.lot}} </td>
  </ng-container>

  <!-- MinPriceIncrement Column -->
  <ng-container matColumnDef="minPriceIncrement">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by minPriceIncrement">MinPriceIncrement</th>
    <td mat-cell *matCellDef="let element"> {{element.minPriceIncrement}} </td>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by country">Country</th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Created_at Column -->
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created_at">Created_at</th>
    <td mat-cell *matCellDef="let element"> {{formatDate(element.created_at)}} </td>
  </ng-container>

  <!-- Updated_at Column -->
  <ng-container matColumnDef="updated_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by updated_at">Updated_at</th>
    <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
